.book-card{
    border: none;
    background-color: rgba(212, 212, 212, 0.397);
    border-radius: 8px;
}
.image-div img{
    width: 17rem;
    height: 21rem;
    padding-top: 1.5rem;
}
.book-card-body{
    padding: 0rem .5rem;
}
.book-price{
    font-size: 2rem;
    color: rgb(84, 35, 199);
}
.card-text-body{
    line-height: 1.7rem;
}
.book-btn{
    padding: 0.7rem 1.5rem;
    margin-right: 1rem;
    border:none;
    color:white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    background-color:rgb(84, 35, 199) ;
    transition: 0.3s;
}
.book-btn:hover{
    background-color:rgb(43, 5, 131) ;
}